

.about{
    
    margin-top:1rem;
    padding-block: 3rem;

    
   
}
#main{
    background-image: url("../img/Bg/2bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
  
}

img{
    all: revert;
}

.img-shorty{
    height: 100px !important;
}