:root{
    /* All Colors */
    --color-violet: #7209B7;
    --color-violet-blue: #560BAD;
    --color-purple: #480CA8;
    --color-darker-navy-blue: #3A0CA3;
    --color-darker-sky-blue: #3F37C9;
    --color-darker-blue: #0c1e73;
    --color-sky-blue: #3F37C9;
    --color-lighter-sky-blue: #4361EE;
    --color-cyan: #4CC9F0;
    --color-default-bg: #282828e6;

    /* Navigation Colors */
    --color-navigation-primary:#3c106e;

    /* Heading Colors */
    --color-heading-primary: #061d88;
    --color-paragraph: #721bab;
}

/* Navigation Revamp */

#header.header-scrolled{
    background-color: var(--color-navigation-primary);
}

.navbar > ul > li > a::before{
    background-color: white;
    height: 3px;
}

.section-title h2::after{
    background-color: var(--color-navigation-primary);
    height: 4px;
    /* width: 3%; */
}

/* Headings Revamp */

h1,h2{
    color: var(--color-purple);
}

.section-title h2{
    font-size: 2.1rem;
}

.section-title p{
    color: var(--color-paragraph);
    font-size: 1.1rem;
}